
.row{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}


.align-center{
    text-align: center;
}

.is-invalid{
    background-color: $color-error;
}
