.calendar {
    padding: $gutterwidth;
    background-color: #fff;
    height: auto;
  }
  
  .rbc-event-content div {

  
    span{
      font-family: $primary;
      font-size: fs(x-small);
      padding: 3px;
      margin-right: $baselineheight;
      font-weight: lighter;
    }
  
    strong{
      font-family: $basefont;
      font-size: fs(x-small) * 1.1;
    }
  
    p{
      font-family: $altfont;
      font-size: fs(x-small);
      padding: 2px;
      opacity: .6;
    }
  
    div{
      margin-top: 5px;
      padding: 5px;
      border-radius: 10px;
      width: 130px;
    }
  }

  .event{
    &__category{
      background-color: transparent;
      padding-left: 5px;
    }
    &__task{
      padding-left: 5px;
      background-color: $primary;
      font-weight: bold;
    }
    &__description{
      padding-left: 5px;
      background-color: $primary;
    }
  }

  .complete{
    font-weight: bold;
    background-color: $light;
  }

  .no-complete{
    font-weight: lighter;
    background-color: $light;
  }