

.total {
  margin-top: $baselineheight;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $primary;

  &__card {
    width: 32%;
    padding: $baselineheight;

    &--project {
      padding: $baselineheight;
      font-family: $basefont;
      font-size: fs(normal);
      font-weight: bold;
    }

    &--task {
      padding: $baselineheight;
      padding-left: $gutterwidth;
      font-family: $basefont;
      font-size: fs(small) * 1.4;
      background-color: $compcolor;
      opacity: .4;
    }

    &--total {
      display: flex;
      justify-content: space-around;
      padding: $gutterwidth;
      opacity: .6;
      
      h3{
        font-family: $altfont;
        font-size: fs(small) * 1.2;
      }
    }
    &--mytotal{
      text-align: left;
      padding: $gutterwidth;
      font-family: $altfont;
      font-size: fs(small) * 1.4;
      border-top: dashed 1px $black;
    }
    &--mytotal-projects{
      text-align: center;
      padding: $gutterwidth;
      font-family: $basefont;
      font-size: fs(normal) * 1.2;
      background-color: $compcolor;
    }
  }
}