

.total {
  @extend %center;
  margin-top: $baselineheight;
  //display: flex;
  display: block;
  width: 90%;
  height: 100%;
  //flex-wrap: wrap;
  //justify-content: flex-start;
  //background-color: $primary;

  &__card {
    width: 100%;
    padding: $baselineheight;

    &--project {
      padding: $baselineheight;
      font-family: $basefont;
      font-size: fs(normal);
      font-weight: bold;
    }

    &--task {
      padding: $baselineheight;
      padding-left: $gutterwidth;
      font-family: $basefont;
      font-size: fs(normal);
      text-align: left;
      background-color: $compcolor;
      opacity: .4;
    }

    &--total {
      display: flex;
      justify-content: space-around;
      padding: $gutterwidth;
      opacity: 1;
      
      p{
        font-family: $altfont;
        font-size: fs(small) * 1.1;
      }
    }
    &--mytotal{
      text-align: left;
      padding: $gutterwidth;
      font-family: $altfont;
      font-size: fs(small) * 1.4;
      border-top: dashed 1px $black;
    }
    &--mytotal-projects{
      width: 85%;
      @extend %center;
      text-align: center;
      padding: $gutterwidth;
      font-family: $basefont;
      font-size: fs(normal) * 1.2;
      //background-color: $compcolor;
    }
  }
}