//MenuUser.jsx
.user__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: $baselineheight;
  background-color: $compcolor;

  &__name {
    margin-top: 15px;
    font-family: $basefont;
    font-size: fs(small) * 1.15;
    font-weight: lighter;
  }

  &__date {
    margin-top: 5px;
    padding: $baselineheight;
    font-family: $basefont;
    font-size: fs(small) * 1.1;
    font-weight: lighter;
  }

  &__btn {
    padding: $baselineheight;
    margin-right: $gutterwidth;
    font-family: $altfont;
    font-size: fs(normal);
    background-color: $primary;
  }
}
// MainMenu.jsx
.main__menu {
  width: 100%;
  text-align: left;
  border-top: solid 1px $primary;

  ul {
    background-color: $compcolor;
    padding-top: $gutterwidth;
    padding-bottom: $gutterwidth;
    padding-left: $gutterwidth;
    position: relative;
  }

  li {
    display: inline-block;
    opacity: 0.8;

    /*&::before {
      content: "";
      background-color: $black;
      height: 12px;
      width: 12px;
      position: absolute;
      top: 32px;
      margin-left: -10px;
      border-radius: 50%;
      opacity: 0.8;
    }*/
    &:hover {
      opacity: 1;
    }
  }

  &__link {
    //margin-top: 10px;
    //margin-right: $gutterwidth;
    padding: $baselineheight;
    font-size: fs(small) * 1.4;
    font-family: $altfont;
    opacity: 0.5;
  }
}

// MenuCategories.jsx
.menu__categories {
  width: 100%;
  padding: $baselineheight;
  margin-top: $baselineheight * 1.2;
  margin-bottom: $baselineheight;
  text-align: left;
  border-top: dashed 1px $black;
  border-bottom: dashed 1px $black;

  &__items {
    display: inline-block;
    cursor: pointer;

    &__categories {
      padding: $baselineheight * 1.5;
      background-color: transparent;

      &--item {
        display: inline-block;
        width: auto;
        font-size: fs(small) * 1.4;
        font-family: $altfont;
        padding: $baselineheight;
        margin-right: $baselineheight;
        margin-left: $baselineheight;
        border-radius: 10px;
        opacity: .8;

        &:hover{
          opacity: 1;
        }

        input[type="button"] {
          background-color: transparent;
          font-weight: bold;
        }
      }
    }
  }
}

.items__menu {
  display: block;
  text-align: left;
  padding: $baselineheight;

  &--item{
    //margin: $baselineheight;
    width: auto;
    padding: $baselineheight;
    margin-left: $gutterwidth;
    margin-right: $baselineheight;
    display: inline-block;
    font-size: fs(small) * 1.2;
    font-family: $altfont;
    font-weight: bold;
    color: $black;
    background-color: $compcolor;
    opacity: .8;


    &:hover{
      opacity: 1;
    }
  }
}
