/* Modal */
.ReactModalPortal > div {
    opacity: 0;
  }
  
  .ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 999;
  }
  
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .modal {
    display: block;
    width: 600px;
    height: 90vh;
    background-color: $google-blue;
    padding: $gutterwidth;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $grey;
  
    h1 {
      font-size: fs(normal);
      font-family: $basefont;
      color: $black;
      padding: 2px;
      border-bottom: dashed 1px $black;
    }
  
    label {
      display: block;
      margin-top: $baselineheight;
      margin-bottom: $baselineheight;
      padding-bottom: $baselineheight;
      padding-left: 10px;
      font-size: fs(small) * 1.1;
      color: $black;
      font-weight: 700;
      font-family: $altfont;
    }
  
    &--form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    &--priority,
    &--title,
    &--select,
    &--category {
      width: 50%;
      background-color: $button-active-blue;
      padding: $baselineheight * 1.1;
      margin-right: $baselineheight;
      border-radius: 5px;
      position: relative;
  
      &-input {
        width: 85%;
        padding: $baselineheight;
        font-family: $basefont;
        font-size: fs(small) * 1.1;
        border-radius: 5px;
        border: none;
      }
  
      &-checkbox {
        width: 100px;
        padding: $baselineheight;
        margin-top: $baselineheight;
        background-color: $white;
        color: $black;
        font-family: $basefont;
        font-size: fs(small) * 1.1;
        border-radius: 5px;
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
  
        &:hover {
          opacity: .7;
        }
      }
      &-select {
        width: 85%;
        padding: $baselineheight;
        font-weight: bold;
        font-family: $altfont;
        font-size: fs(small) * 1.1;
        background-color: $google-blue;
        opacity: 0.5;
      }
    }
  
    &--date-picker {
      width: 50%;
      margin-top: $baselineheight;

      &--error{
        margin-top: $baselineheight;
        padding: $baselineheight;
        color: $white;
        font-family: $altfont;
        font-size: fs(small);
        text-align: center;
        background-color: $color-error;
        opacity: .6;
      }
  
      &-input {
        width: 90%;
        padding: $baselineheight;
        font-family: $basefont;
        font-size: fs(small) * 1.1;
        border-radius: 5px;
        border: none;
      }
    }
    &--description {
      width: 95%;
      padding: $baselineheight;
      font-family: $basefont;
      font-size: fs(small) * 1.1;
      border-radius: 5px;
      border: none;
    }
  
    &--color {
      display: block;
      width: 100%;
      position: relative;
      right: 20px;
      text-align: right;
      padding: $baselineheight;
      font-family: $basefont;
      font-size: fs(small) * 1.1;
  
      //----
      cursor: pointer;
      outline: 0;
      border: 0;
      border-radius: 0;
      border-radius: 12px;
      transition: all 0.25s ease;

      &--select{
        height: 30px;
        width: 150px;
        top: 0;
        right: 0;
      }

      label{
        font-family: $basefont;
        font-size: fs(small);
        font-weight: lighter;
      }
  
      option {
        font-family: $basefont;
        font-size: fs(small) * 1.1;
      }
  
      /* reset*/
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  
    &--count{
      padding: $baselineheight;
      margin-top: $gutterwidth;
      width: 50%;
      text-align: center;
      border-top: dotted 1px $black;
      border-bottom: dotted 1px $black;
  
      &--label{
        padding: $baselineheight;
        margin-right: $baselineheight;
        font-family: $altfont;
        font-size: fs(small);
        background-color: #fff;
      }
  
      &-input-spent,
      &-input-entry{
        padding: $baselineheight;
        width: 50px;
        border-radius: $radius;
        border: none;
      }
    }
  
    &--btn {
      position: absolute;
      top: .5rem;
      right: 2rem;
      width: 150px;
      margin-top: $baselineheight;
      padding: $baselineheight;
      background-color: $compcolor;
      font-family: $basefont;
      text-align: center;
      padding-left: 10px;
      font-size: fs(small);
      color: $black;
      opacity: 1;
      border-radius: 10px;
  
      span {
        margin-left: 10px;
      }
  
      &:hover {
        opacity: 0.9;
        transition: opacity 0.5s ease-in-out;
      }
    }
  }

